<h1>
  {{title}}
</h1>
<button (click)="addWidget()">Add widget</button>
<div dashboard [margin]="40">
  <div widget><div class="head">Widget 1</div></div>
  <div widget><div class="head">Widget 2</div></div>
  <div widget><div class="head">Widget 3</div></div>
  <div widget><div class="head">Widget 4</div></div>
  <div widget><div class="head">Widget 5</div></div>
  <div widget><div class="head">Widget 6</div></div>
  <div widget><div class="head">Widget 6</div></div>
  <div widget><div class="head">Widget 8</div></div>
  <div widget><div class="head">Widget 9</div></div>
  <div widget><div class="head">Widget 10</div></div>
</div>
