app-dashboard {
  width: 900px;
  position: relative;
  background-color: red;
}

app-dashboard app-widget {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
  background-color: darkgrey;
}
