<h1>
  {{title}}
</h1>
<button (click)="addWidget()">Add widget</button>
<div dashboard [margin]="20">
  <div widget><div class="head">Widget 4</div></div>
  <div widget><div class="head">Widget 5</div></div>
  <div widget><div class="head">Widget 6</div></div>
  <div widget><div class="head">Widget 6</div></div>
  <div widget><div class="head">Widget 8</div></div>
  <div widget><div class="head">Widget 9</div></div>
  <div widget><div class="head">Widget 10</div></div>
  <div widget [size]="[2, 1]">
    <div class="head">Widget 1</div>
  </div>
  <div widget [size]="[1, 2]">
    <div class="head">Widget 2</div>
  </div>
  <div widget [size]="[2, 2]">
    <div class="head">Widget 3</div>
  </div>
</div>
